//medium+ screen sizes
@media (min-width:700px) {
  .desktop-only {
display:block !important;
  }
}

//small screen sizes
@media (max-width: 699px) {
  .mobile-only {
display:block !important;
  }

  .desktop-only {
display:none !important;
  }
}
