<!-- testing section -->
<section class="section">
  <div class="container">
    <div class="columns is-multiline">

      <!-- use one card as template and erb for the rest -->
      <div class="column is-4"><!-- begin of a restaurant card-->
        <div class="card">
          <figure class="card-image is-4x3">
            <img src="http://placehold.it/400x300" alt="">
          </figure>
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <span class="icon is-medium">
                  <i class="fa fa-cutlery"></i>
                </span>
              </div>
              <div class="media-content">
                <p class="title is-5">Jason's Seafood Grill</p>
                <p class="subtitle is-6">3123 Restaurant Avenue</p>
              </div>
            </div>
            <div class="content">
              <a class="button is-fullwidth is-primary">log me in</a>
            </div>
          </div>
        </div>
      </div><!-- end of a restaurant card -->

      <div class="column is-4"><!-- begin of a restaurant card-->
        <div class="card">
          <figure class="card-image is-4x3">
            <img src="http://placehold.it/400x300" alt="">
          </figure>
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <span class="icon is-medium">
                  <i class="fa fa-cutlery"></i>
                </span>
              </div>
              <div class="media-content">
                <p class="title is-5">Brasserie Modal</p>
                <p class="subtitle is-6">3123 Restaurant Avenue</p>
              </div>
            </div>
            <div class="content">
              <a class="button is-fullwidth is-primary">log me in</a>
            </div>
          </div>
        </div>
      </div><!-- end of a restaurant card -->


      <div class="column is-4"><!-- begin of a restaurant card-->
        <div class="card">
          <figure class="card-image is-4x3">
            <img src="http://placehold.it/400x300" alt="">
          </figure>
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <span class="icon is-medium">
                  <i class="fa fa-glass"></i>
                </span>
              </div>
              <div class="media-content">
                <p class="title is-5">Elephant 55</p>
                <p class="subtitle is-6">3123 Restaurant Avenue</p>
              </div>
            </div>
            <div class="content">
              <a class="button is-fullwidth is-primary">log me in</a>
            </div>
          </div>
        </div>
      </div><!-- end of a restaurant card -->


      <div class="column is-4"><!-- begin of a restaurant card-->
        <div class="card">
          <figure class="card-image is-4x3">
            <img src="http://placehold.it/400x300" alt="">
          </figure>
          <div class="card-content">
            <div class="media">
              <div class="media-left">
                <span class="icon is-medium">
                  <i class="fa fa-cutlery"></i>
                </span>
              </div>
              <div class="media-content">
                <p class="title is-5">Jason's Seafood Grill</p>
                <p class="subtitle is-6">3123 Restaurant Avenue</p>
              </div>
            </div>
            <div class="content">
              <a class="button is-fullwidth is-primary">log me in</a>
            </div>
          </div>
        </div>
      </div><!-- end of a restaurant card -->

    </div><!-- end of columns -->
  </div>
</section>
