<div class="container">
  <div class="left">
    <p>this is the left class for mobile css</p>
    <div class="info">placeholder: where restaurant information goes</div>
    <div class="result">placeholder: nearby restaurant</div>
    <div class="result">placeholder: nearby restaurant</div>
    <div class="result">placeholder: nearby restaurant</div>
    <div class="result">placeholder: nearby restaurant</div>
    <div class="result">placeholder: nearby restaurant</div>
  </div>

  <div class="right">

  <p>this is the right class for gmaps for desktop</p>
    <div id="map">
      <p>where map goes</p>
    </div>
  </div>
</div>
