<section class="section">
  <div class="container">
    <div class="columns">
      <!-- left side column for waitlists -->
      <div class="column is-6-desktop is-5-tablet">

        <!-- left side waitlist row item -->
        <div class="columns is-gapless">
          <div class="column">
            <div class="box">
              Damien
            </div>
          </div>
          <div class="column">
            <div class="box">
              3 ppl
            </div>
          </div>
          <div class="column">
            <div class="box">
              - 6min +
            </div>
          </div>
          <div class="column">
            <div class="box">
              clear
            </div>
          </div>
        </div>
      </div>
      <!-- done left side waitlist row item -->

      <!-- right side column for settings -->
      <div class="column">

        <!-- begin of a time box -->
        <div class="box">
          <div class="columns">
            <div class="column is-3">
              <h1 class="title is-text-centered">1 & 2</h1>
              <h2 class="subtitle is-text-centered">guests</h2>
            </div>
            <div class="column is-5">
              <p class="control is-grouped">
                <input class="input is-large" type="text" placeholder="time">
                <a class="button is-large is-info">
                  set
                </a>
              </p>
            </div>
            <div class="column is-4">
              <a class="button is-large is-danger is-outlined">
                <i class="fa fa-times"></i>
                  clear
              </a>
            </div>
          </div>
          <hr>
          <div class="columns">
            <div class="column is-3">
              <a class="button is-success is-large is-pulled-right">
                <i class="fa fa-minus"></i>
              </a>
            </div>
            <div class="column is-6">
              <h1 class="title is-text-centered is-1">14</h1>
              <h2 class="subtitle is-text-centered">minutes</h2>
            </div>
            <div class="column is-3">
              <a class="button is-danger is-large">
                <i class="fa fa-plus"></i>
              </a>
            </div>
          </div>
        </div>
        <!-- end of a time box -->
        <div class="container">&nbsp;</div>
        <!-- begin of a time box -->
        <div class="box">
          <div class="columns">
            <div class="column is-3">
              <h1 class="title is-text-centered">3 & 4</h1>
              <h2 class="subtitle is-text-centered">guests</h2>
            </div>
            <div class="column is-5">
              <p class="control is-grouped">
                <input class="input is-large" type="text" placeholder="time">
                <a class="button is-large is-info">
                  set
                </a>
              </p>
            </div>
            <div class="column is-4">
              <a class="button is-large is-danger is-outlined">
                <i class="fa fa-times"></i>
                  clear
              </a>
            </div>
          </div>
          <hr>
          <div class="columns">
            <div class="column is-3">
              <a class="button is-success is-large is-pulled-right">
                <i class="fa fa-minus"></i>
              </a>
            </div>
            <div class="column is-6">
              <h1 class="title is-text-centered is-1">17</h1>
              <h2 class="subtitle is-text-centered">minutes</h2>
            </div>
            <div class="column is-3">
              <a class="button is-danger is-large">
                <i class="fa fa-plus"></i>
              </a>
            </div>
          </div>
        </div>
        <!-- end of a time box -->
        <div class="container">&nbsp;</div>
        <!-- begin of a time box -->
        <div class="box">
          <div class="columns">
            <div class="column is-3">
              <h1 class="title is-text-centered">5 & +</h1>
              <h2 class="subtitle is-text-centered">guests</h2>
            </div>
            <div class="column is-5">
              <p class="control is-grouped">
                <input class="input is-large" type="text" placeholder="time">
                <a class="button is-large is-info">
                  set
                </a>
              </p>
            </div>
            <div class="column is-4">
              <a class="button is-large is-danger is-outlined">
                <i class="fa fa-times"></i>
                  clear
              </a>
            </div>
          </div>
          <hr>
          <div class="columns">
            <div class="column is-3">
              <a class="button is-success is-large is-pulled-right">
                <i class="fa fa-minus"></i>
              </a>
            </div>
            <div class="column is-6">
              <h1 class="title is-text-centered is-1">27</h1>
              <h2 class="subtitle is-text-centered">minutes</h2>
            </div>
            <div class="column is-3">
              <a class="button is-danger is-large">
                <i class="fa fa-plus"></i>
              </a>
            </div>
          </div>
        </div>
        <!-- end of a time box -->

      </div>
    </div>
  </div>
</section>

<table border="1" style="width:100%">
  <tr>
    <td><button type="button" onclick="decrement_two_seat_wait()" > - 2min </button></td>
    <td><button type="button" onClick="reset_two_seat_wait()"> All Clear </button></td>
    <td id="two_seat_wait"><%= current_hostess.restaraunt.two_seat_wait %></td>
    <td><form method="get" action="set_two_seat_wait"><input type="number" name="two_seat_time" placeholder="Enter Wait Time..."><button type="submit"> Set Wait Time </button></input></form></td></td>
    <td><button type="button" onClick="increment_two_seat_wait()"> + 2min </button></td>
  </tr>
  <tr>
    <td><button type="button" onClick="decrement_four_seat_wait()"> - 2min </button></td>
    <td><button type="button" onClick="reset_four_seat_wait()"> All Clear </button></td>
    <td id="four_seat_wait"><%= current_hostess.restaraunt.four_seat_wait %></td>
    <td><form method="get" action="set_four_seat_wait"><input type="number" name="four_seat_time" placeholder="Enter Wait Time..."><button type="submit"> Set Wait Time </button></input></form></td></td>
    <td><button type="button" onClick="increment_four_seat_wait()"> + 2min </button></td>
  </tr>
  <tr>
    <td><button type="button" onClick="decrement_large_table_wait()"> - 2min </button></td>
    <td><button type="button" onClick="reset_large_table_wait()"> All Clear </button></td>
    <td id="large_table_wait"><%= current_hostess.restaraunt.large_table_wait %></td>
    <td><form method="get" action="set_large_table_wait"><input type="number" name="large_table_time" placeholder="Enter Wait Time..."><button type="submit"> Set Wait Time </button></input></form></td></td>
    <td><button type="button" onClick="increment_large_table_wait()"> + 2min </button></td>
  </tr>
</table>
