<section class="section">
  <div class="container">
    <div class="columns">
      <!-- left side column for waitlists -->
      <div class="column is-6-desktop is-5-tablet">

        <!-- left side waitlist row item -->
        <div class="message">
        <div class="columns">
          <div class="column is-hidden-touch">
            <a class="box">
              <i class="fa fa-check"></i>
            </a>
          </div>
          <div class="column is-hidden-desktop">
            <a class="tag is-medium is-success">
              <i class="fa fa-check"></i>
            </a>
          </div>
          <div class="column is-4">
            <h1 class="title is-text-centered is-5">Damien</h1>
            <h2 class="subtitle is-text-centered is-6">2 guests</h2>
          </div>
          <div class="column is-6">
            <div class="columns">
              <div class="column">
                <a class="button is-small is-outlined is-pulled-right">
                  <i class="fa fa-chevron-down"></i>
                </a>
              </div>
              <div class="column is-3">
                <h1 class="title is-text-centered is-4">14</h1>
                <h2 class="subtitle is-text-centered is-6">min</h2>
              </div>
              <div class="column">
                <a class="button is-small is-outlined">
                  <i class="fa fa-chevron-up"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      <!-- done left side waitlist row item -->

      <!-- right side column for settings -->
      <div class="column">

        <!-- begin of a time box -->
        <div class="box">
          <div class="columns">
            <div class="column is-3">
              <h1 class="title is-text-centered">1 & 2</h1>
              <h2 class="subtitle is-text-centered">guests</h2>
            </div>
            <div class="column is-5">
              <p class="control is-grouped">
                <input class="input is-large" type="text" placeholder="time">
                <a class="button is-large is-info">
                  set
                </a>
              </p>
            </div>
            <div class="column is-4">
              <a class="button is-large is-outlined">
                <i class="fa fa-clock-o"></i>
                  clear
              </a>
            </div>
          </div>
          <hr>
          <div class="columns">
            <div class="column">
              <span class="button is-large is-success">
                <i class="fa fa-plus"></i>
              </span>
            </div>
            <div class="column">
              <span class="icon is-large is-pulled-right">
                <i class="fa fa-chevron-down"></i>
              </span>
            </div>
            <div class="column">
              <h1 class="title is-text-centered is-1">14</h1>
              <h2 class="subtitle is-text-centered">minutes</h2>
            </div>
            <div class="column">
              <span class="icon is-large">
                <i class="fa fa-chevron-up"></i>
              </span>
            </div>
          </div>
        </div>
        <!-- end of a time box -->
        <div class="container">&nbsp;</div>
        <!-- begin of a time box -->
        <div class="box">
          <div class="columns">
            <div class="column is-3">
              <h1 class="title is-text-centered">3 & 4</h1>
              <h2 class="subtitle is-text-centered">guests</h2>
            </div>
            <div class="column is-5">
              <p class="control is-grouped">
                <input class="input is-large" type="text" placeholder="time">
                <a class="button is-large is-info">
                  set
                </a>
              </p>
            </div>
            <div class="column is-4">
              <a class="button is-large is-outlined">
                <i class="fa fa-clock-o"></i>
                  clear
              </a>
            </div>
          </div>
          <hr>
          <div class="columns">
            <div class="column">
              <span class="button is-large is-success">
                <i class="fa fa-plus"></i>
              </span>
            </div>
            <div class="column">
              <span class="icon is-large is-pulled-right">
                <i class="fa fa-chevron-down"></i>
              </span>
            </div>
            <div class="column">
              <h1 class="title is-text-centered is-1">19</h1>
              <h2 class="subtitle is-text-centered">minutes</h2>
            </div>
            <div class="column">
              <span class="icon is-large">
                <i class="fa fa-chevron-up"></i>
              </span>
            </div>
          </div>
        </div>
        <!-- end of a time box -->
        <div class="container">&nbsp;</div>
        <!-- begin of a time box -->
        <div class="box">
          <div class="columns">
            <div class="column is-3">
              <h1 class="title is-text-centered">5 & +</h1>
              <h2 class="subtitle is-text-centered">guests</h2>
            </div>
            <div class="column is-5">
              <p class="control is-grouped">
                <input class="input is-large" type="text" placeholder="time">
                <a class="button is-large is-info">
                  set
                </a>
              </p>
            </div>
            <div class="column is-4">
              <a class="button is-large is-outlined">
                <i class="fa fa-clock-o"></i>
                  clear
              </a>
            </div>
          </div>
          <hr>
          <div class="columns">
            <div class="column">
              <span class="button is-large is-success">
                <i class="fa fa-plus"></i>
              </span>
            </div>
            <div class="column">
              <span class="icon is-large is-pulled-right">
                <i class="fa fa-chevron-down"></i>
              </span>
            </div>
            <div class="column">
              <h1 class="title is-text-centered is-1">32</h1>
              <h2 class="subtitle is-text-centered">minutes</h2>
            </div>
            <div class="column">
              <span class="icon is-large">
                <i class="fa fa-chevron-up"></i>
              </span>
            </div>
          </div>
        </div>
        <!-- end of a time box -->
      </div>
      <!-- end of the column of time boxes -->
    </div>
  </div>
</section>

<table border="1" style="width:100%">
  <tr>
    <td><button type="button" onclick="decrement_two_seat_wait()" > - 2min </button></td>
    <td><button type="button" onClick="reset_two_seat_wait()"> All Clear </button></td>
    <td id="two_seat_wait"><%= current_hostess.restaraunt.two_seat_wait %></td>
    <td><form method="get" action="set_two_seat_wait"><input type="number" name="two_seat_time" placeholder="Enter Wait Time..."><button type="submit"> Set Wait Time </button></input></form></td></td>
    <td><button type="button" onClick="increment_two_seat_wait()"> + 2min </button></td>
  </tr>
  <tr>
    <td><button type="button" onClick="decrement_four_seat_wait()"> - 2min </button></td>
    <td><button type="button" onClick="reset_four_seat_wait()"> All Clear </button></td>
    <td id="four_seat_wait"><%= current_hostess.restaraunt.four_seat_wait %></td>
    <td><form method="get" action="set_four_seat_wait"><input type="number" name="four_seat_time" placeholder="Enter Wait Time..."><button type="submit"> Set Wait Time </button></input></form></td></td>
    <td><button type="button" onClick="increment_four_seat_wait()"> + 2min </button></td>
  </tr>
  <tr>
    <td><button type="button" onClick="decrement_large_table_wait()"> - 2min </button></td>
    <td><button type="button" onClick="reset_large_table_wait()"> All Clear </button></td>
    <td id="large_table_wait"><%= current_hostess.restaraunt.large_table_wait %></td>
    <td><form method="get" action="set_large_table_wait"><input type="number" name="large_table_time" placeholder="Enter Wait Time..."><button type="submit"> Set Wait Time </button></input></form></td></td>
    <td><button type="button" onClick="increment_large_table_wait()"> + 2min </button></td>
  </tr>
</table>


<!-- begin of a modal -->
<div id="modal_1" class="modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="box">
      
    </div>
  </div>
  <button class="modal-close"></button>
</div>
