

<section class="section">
  <div class="container">
    <div class="columns">
      <!-- left side main column -->
      <div class="column is-third">
        <!-- search bar -->
        <nav class="navbar">
            <div class="navbar-item">
              <p class="control is-grouped">
                <input class="input" type="text" placeholder="Find a restaurant">
                <button class="button">
                  Feed me
                </button>
              </p>
            </div>
        </nav>
<!-- begin 5 columns, TODO: build ruby load from array -->
        <div class="column">
          <div class="button is-fullwidth is-large is-primary is-outlined">
            John's Diner <span class="tag is-success">5 min</span>
          </div>
        </div>
        <div class="column">
          <div class="button is-fullwidth is-large is-primary is-outlined">
            Bistro on Yates <span class="tag is-danger">45 min</span>
          </div>
        </div>
        <div class="column">
          <div class="button is-fullwidth is-large is-primary is-outlined">
            Brasserie l'ecole <span class="tag is-warning">25 min</span>
          </div>
        </div>
        <div class="column">
          <div class="button is-fullwidth is-large is-primary is-outlined">
            McDonald's <span class="tag is-success">no wait</span>
          </div>
        </div>
        <div class="column">
          <div class="button is-fullwidth is-large is-primary is-outlined">
            Donair Express <span class="tag is-success">14 min</span>
          </div>
        </div>
        <div class="column">
          <a class="button is-fullwidth is-large is-primary is-outlined modal-button" data-target="#modal">modal</a>
        </div>
<!-- end 5 columns -->
      </div> <!-- end of search bar -->

      <!-- right side main column, for desktop & tablet -->
      <div class="column">
        <figure class="card-image is-4x3">
          <img src="http://placehold.it/800x600" alt="">
        </figure>
      </div> <!-- end right column -->

    </div>
  </div>
</section>

<!-- begin of modal -->
  <div class="modal">
    <div class="modal-background">
    </div>
    <div class="modal-container">
      <div class="modal-content">
        <div class="box">
<!-- beginning of the modified (de-containered) modal card -->
          <figure class="card-image is-4x3">
            <img src="http://placehold.it/400x300" alt="">
          </figure>
          <div class="card-content">
            <div class="media">
              <div class="media-content">
                <p class="title is-5">Restaurant Name</p>
                <p class="subtitle is-6">3214 Restaurant Street</p>
              </div>
            </div>
            <div class="content">
              This restaurant is the shit. Uber legit and all. Review here. Another One. Eat some asparagus and whatever else you"d like.
            <br>
            <strong>Open Now</strong>
          </div>
        </div>
<!-- end of the modified (de-containered) modal card -->
        </div>
      </div>
    </div>
    <button class="modal-close"></button>
  </div>
<!-- end of modal -->
