<div class="container">
  <div class="columns">
    <div class="column">
      <p class='notification is-success'>First column</p>
    </div>
    <div class="column">
      <p class='notification is-success'>First column</p>
    </div>
    <div class="column">
      <p class='notification is-success'>First column</p>
    </div>
    <div class="column">
      <p class='notification is-success'>First column</p>
    </div>
  </div>
</div>

<p>breakpoint</p>
<div class="container">
<div class="columns is-mobile">
  <div class="column is-half-mobile is-half-tablet is-half-desktop">
    <p class="notification is-success">
      <code>is-half-mobile</code><br>
      <code>is-third-tablet</code><br>
      <code>is-quarter-desktop</code>
    </p>
  </div>
  <div class="column"><p class="notification is-info"></p></div>
</div>
</div>
