<!-- testing section -->
<section class="section">
  <div class="container">

    <div class="columns">
      <div class="column is-4-desktop is-6-tablet"><!-- left column -->

        <!-- row -->
        <div class="columns">
          <div class="column">
            <nav class="navbar">
                <div class="navbar-item">
                  <p class="control is-grouped">
                    <input class="input" type="text" placeholder="Find a restaurant">
                    <button class="button">
                      Feed me
                    </button>
                  </p>
                </div>
            </nav>
          </div>
        </div>
        <!-- end of row -->
        <!-- row -->
        <div class="columns">
          <div class="column">
            <a class="button is-fullwidth is-medium is-primary is-outlined modal-button" data-target="#modal_1">
              <p class="is-pulled-left">Jason's Seafood Grill</p><p class="tag is-warning is-pulled-right">22 min</p>
            </a>
          </div>
        </div>
        <!-- end of row -->

        <!-- row -->
        <div class="columns">
          <div class="column">
            <a class="button is-fullwidth is-medium is-primary is-outlined modal-button" data-target="#modal_2">
              <p class="is-pulled-left">Brasserie Modal</p><p class="tag is-warning is-pulled-right">35 min</p>
            </a>
          </div>
        </div>
        <!-- end of row -->

      </div><!-- end of left column -->

      <!-- right side main column, for desktop & tablet -->
      <div class="column is-hidden-mobile">
        <figure class="card-image is-4x3">
          <img src="http://placehold.it/800x600" alt="">
        </figure>
      </div> <!-- end right column -->
    </div><!-- end of columns -->

  </div>
</section>

<!-- all your modals are belong to hele-->

<!-- beginning of a modal -->
<div id="modal_1" class="modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="box">
      <div class="content">
        <p class="image is-4by3">
          <img src="http://placehold.it/800x600">
        </p>
        <p class="tag is-warning">22 minute wait</p>
        <p class="title is-5">Jason's Seafood Grill</p>
        <p class="subtitle is-6">3214 Restaurant Street</p>
        <p>This restaurant is the shit. I mean, beef, pork, veggies, zomg, and brains. Review goes here lalalala, the roast brains is.... not worth it. But atmosphere is nice.</p>
      </div>
    </div>
  </div>
  <button class="modal-close"></button>
</div>
<!-- end of modal -->



<!--_______for modules, static map image________-->
        <img src="https://maps.googleapis.com/maps/api/staticmap?markers=color:blue%7Clabel:W%7C<%=gon.resteraunts[2].values.first%>,<%=gon.resteraunts[2].values.last%>&size=600x300&key=AIzaSyBbWEvWO9HjupoJUCoNMkaEdIWIvgjAWkQ">





<!-- beginning of a modal -->
<div id="modal_2" class="modal">
  <div class="modal-background"></div>
  <div class="modal-content">
    <div class="box">
      <div class="content">
        <p class="image is-4by3">
          <img src="http://placehold.it/800x600">
        </p>
        <p class="tag is-warning">35 minute wait</p>
        <p class="title is-5">Brasserie Modal</p>
        <p class="subtitle is-6">3214 Restaurant Street</p>
        <p>This restaurant is the shit. I mean, beef, pork, veggies, zomg, and brains. Review goes here lalalala, the roast brains is.... not worth it. But atmosphere is nice.</p>
      </div>
    </div>
  </div>
  <button class="modal-close"></button>
</div>
<!-- end of modal -->
