<h1>Home Page</h1>


<p id="demo">Can we use magic to find you? </p>

<!-- To change width and height go to application.js -->
<div id="map"></div>

<!-- hidden form to get long and lat -->
<form id="myForm" action='/go' method="post">
  <input type='hidden' id="lat" name='lat' value='' />
  <input type='hidden' id="lon" name='lon' value='' />
  <!-- This button is sending the long and lat to post'/go'. Edit at will. -->
  <input type='submit' name='submit' value='Use Magic!' />
</form>

