<section class="section">
  <div class="container is-hidden-mobile">
    <div class="columns">
      <div class="column">
        <div class="header-unit">
          <div id="video-container">
          <video autoplay loop class="fillWidth">
          <source src="/videos/video.mp4" type="video/mp4"/>
          <source src="/videos/video.ogg" type="video/ogg"/>
          <source src="/videos/video.webm" type="video/webm"/>
          </video>
          </div><!-- end video-container -->
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <!-- mobile banner -->
    <div class="columns is-hidden-tablet">
      <section class="hero is-primary is-bold">
        <div class="hero-content">
          <div class="container">
            <h1 class="title">
              <span class="icon is-large">
                <i class="fa fa-cutlery"></i>
              </span>
            </h1>
          </div>
        </div>
      </section>
    </div>

    <div class="columns is-mobile">
      <div class="column">
      </div>
      <div class="column is-3-desktop is-3-tablet is-7-mobile">
        <form id="myForm" action='/restaurants' method="post">
          <input type='hidden' id="lat" name='lat' value='' />
          <input type='hidden' id="lon" name='lon' value='' />
          <p class="control is-grouped">
              <span class="select">
                <select name="party_size">
                  <option value="2">Party size:</option>
                  <option value="2">1</option>
                  <option value="2">2</option>
                  <option value="4">3</option>
                  <option value="4">4</option>
                  <option value="5">more than 4</option>
                </select>
              </span>
              <button class="button is-primary" type='submit' name='submit'>
                go!
              </button>
            </p>
        </form>
      </div>
      <div class="column">
      </div>
    </div>
  </div>
</section>
