<h1>Home Page</h1>

<!-- Use @restaurant_list for restaurant's info, it is an Array[], of Hashes {}, the keys are strings " ", keys include: "name", "opening hours", "vicinity", "rating". "opening hours" is a hash {"open_now"(this is a key)=>true(this is a value). Good luck! -->

<p id="demo">Can we use magic to find you? </p>

<!-- To change width and height go to application.js -->
<!-- <div id="map">
  
</div> -->

<!-- hidden form to get long and lat -->

<!-- <form id="myForm" action='/restaurants/go' method="post">
  <input type='hidden' id="lat" name='lat' value='' />
  <input type='hidden' id="lon" name='lon' value='' />
  <!-- This button is sending the long and lat to post'/go'. Edit at will. -->
 <!--  <input type='submit' name='submit' value='Use Magic!' />
</form> --> 


